<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <title>Post fragment - rest intentionally left empty</title>
</head>

<body class="d-flex flex-column h-100">

<!-- esqueleto chat snippet -->
<div th:fragment="chatSnippet(user)" class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys">
    <div class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys " >
        <div class="widget panel"  style="width:700px; border:1px solid grey;">
            <a class="text-decoration-none link-dark">
                <div class="panel-body" >

                    <ul class="list-table" >
                        <li style="width:70px;">
                            <img class="img-circle img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="65px" height="65px">
                        </li>
                        <li class="text-left">
                            <h5 class="semibold ellipsis nm" th:text="${user.username}">Usuario 1</h5>
                            <p class="nm">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod.</p>
                            <small class="text-muted" >1 day ago</small>
                        </li>
                        <h4> <span class="badge bg-secondary" style = "float: right; margin: 2%">4</span></h4>
                    </ul>

                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>