<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <title>Post fragment - rest intentionally left empty</title>
</head>

<body class="d-flex flex-column h-100">

    <!-- esqueleto post -->
    <div th:fragment="post(post)" class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys">
        <div class="widget panel" style="width:700px;">
            <div class="panel-body" >
                <br>
                <ul class="list-table" >
                    <li style="width:70px;">
                        <img class="img-circle img-bordered-primary" th:src="@{/user/{id}/pic(id=${post.author.id})}" 
                        src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="65px" height="65px">
                       
                    </li>
                    <li class="text-left">
                        <h5 class="semibold ellipsis nm usuario" th:text="${post.author.username}">Usuario 1</h5>
                    </li>
                    <li class="text-right" style="width:70px;">
                        <form th:action="@{/likes/__${post.id}__}" method="POST">
                            <button id="buttonLike" class="btn btn-sm btn-success" type="submit">Like</button>
                        </form>
                        
                    </li>
                </ul>
            </div>
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <p class="nm" th:text="${post.text}">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod.</p>
                    <small class="text-muted fecha" th:text="${post.dateSent}">1 day ago</small>
                    <small style ="float: right" class="text-muted likes" th:text="${post.likes}">0 </small> <small style ="float: right" class="text-muted"> likes: </small>
                    
                </li>
            </ul>
        </div>
    </div>
    <script>

       
         
    </script>
</body>
</html>