/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 28px;
    width: 28px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* propio*/
.pfp {
    white-space:nowrap;
}

.img-wrapper img {
    width: 280px;
    height: 280px;
}

#new-post {
    width: 700px;
    height: 100px;
    resize: none;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important; 
    height: 20em;
}

form.search-form{
    width: max-content;
}

form.search-form {
    display: inline-flex;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



/*------------------------------------------------------------------ Products -------------------------------------------------------------------*/
.title-all{
    margin-bottom: 30px;
}
.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.products-box{
    padding: 70px 0px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
}
.filter-button-group button{
    background: #5cca60;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #010101;
}
.filter-button-group button{
}
.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
    height: auto;
    width: 100%;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: rgb(84, 199, 117);
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.type-lb .new{
    background: #010101;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 1.3em !important;
}
.why-text h5{
    font-size: 1.1em !important;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
}
.mask-icon ul li{
    background: #7bca82;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #53ca6f;
    position: absolute;
    bottom: 0;
    right: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #010101;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #010101;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
@keyframes bounceY {
    0% {
        transform: translateY(-205px);
   }
    40% {
        transform: translateY(-100px);
   }
    65% {
        transform: translateY(-52px);
   }
    82% {
        transform: translateY(-25px);
   }
    92% {
        transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
   }
}
@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
   }
    40% {
        -moz-transform: translateY(-100px);
   }
    65% {
        -moz-transform: translateY(-52px);
   }
    82% {
        -moz-transform: translateY(-25px);
   }
    92% {
        -moz-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
   }
}
@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
   }
    40% {
        -webkit-transform: translateY(-100px);
   }
    65% {
        -webkit-transform: translateY(-52px);
   }
    82% {
        -webkit-transform: translateY(-25px);
   }
    92% {
        -webkit-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
   }
}

/* Mas populares*/
.btn-genre {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgb(29, 160, 60);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 80px;
    background: solid rgba(103, 192, 103, 0.75);
    transition: all 0.3s ease 0s;
    width:70%; 
    
  }
  
  .btn-genre:hover {
    color: #FFF;
    background: rgba(48, 172, 48, 0.75);
    border: 2px solid rgba(17, 238, 17, 0.75);
    width:70%; 
  }


/*                                        posts                                       */


.widget .panel, .widget.panel {
    border-bottom-width: 1px;
    border-bottom-color: #cfd9db;
}

.widget {
    margin-bottom: 20px;
}

.panel {
    position: relative;
    border-width: 1px;
    border-color: #cfd9db;
    border-radius: 3px;
    -webkit-box-shadow: 0 .0625rem .0625rem rgba(0,0,0,.05);
    box-shadow: 0 .0625rem .0625rem rgba(0,0,0,.05);
}

.panel-body {
    position: relative;
}

.mb0 {
    margin-bottom: 0!important;
}

.text-info {
    color: #22A7F0!important;
}

.list-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-table>li:first-child {
    padding-left: 0;
}

.list-table>li {
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    width: auto;
    padding: 0 5px;
}

.img-bordered-primary {
    -webkit-box-shadow: 0 0 0 2px #fff,0 0 0 4px #446CB3;
    box-shadow: 0 0 0 2px #fff,0 0 0 4px #446CB3;
}

.img-circle {
    border-radius: 50%!important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.semibold {
    font-weight: 600;
}
.nm {
    margin: 0!important;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  * {
    box-sizing: border-box
}

#search {
    outline: none;
    border: none;
    display: inline-block
}

.search-form{
    width: 40%;
}

.search-advanced{
    box-shadow: 0 !important;
    margin-left: 3px;
}
#green {
    color: #5cca60
}



.fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
}

.search-nav-item {
    height: 40px
}

nav {
    padding: 0px 100px
}

.fa-user-o,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px
}

.form-group {
    margin-bottom: 5px
}

label {
    padding-left: 10px
}

.form-group:last-child {
    margin-bottom: 0
}

h6 {
    margin-bottom: 0px
}

#sort {
    outline: none;
    border: none
}




.card-body {
    padding: 8px
}

.sign {
    width: 25px;
    height: 25px
}

.discount {
    border: 1px solid orange;
    border-radius: 5px;
    width: 65px;
    position: absolute;
    top: 2%
}

@media(min-width:1200px) {
    #search {
        width: 300px;
        padding: 5px;
    }

    .search-nav-item {
        margin-left: 400px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 300px
    }

    .text {
        display: none
    }

    .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 300px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 295px;
        height: 200px;
        border-radius: 10px
    }

    del {
        padding-right: 2px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:992px) and (max-width:1199px) {
    #search {
        width: 300px;
        padding: 5px;
    }

    .search-nav-item {
        margin-left: 200px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 160px
    }

    .text {
        display: none
    }

    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }

    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        width: 200px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 200px;
        height: 200px;
        border-radius: 10px
    }

    .fa-plus,
    .fa-minus {
        font-size: 12px
    }

    .sign {
        height: 25px
    }

    .price {
        width: 99px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:768px) and (max-width:991px) {
    #search {
        width: 300px;
        padding: 5px;
    }

    .search-nav-item {
        margin-left: 60px;
        width: 350px
    }

    .fa-user-o {
        margin-left: 80px
    }

    .text {
        display: none
    }

    #sidebar {
        width: 35%;
        padding: 20px;
        float: left
    }

    #products {
        width: 65%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:576px) and (max-width:767px) {
    .text {
        display: none
    }

    .search-nav-item {
        margin-left: 35px;
        width: 270px
    }

    #search {
        width: 240px;
        padding: 5px;
    }

    .fa-search {
        padding: 3px;
        font-size: 18px
    }

    #sidebar {
        width: 40%;
        padding: 20px;
        float: left
    }

    #products {
        width: 60%;
        padding: 10px;
        margin: 0;
        float: right
    }

    .card {
        border: none
    }

    #off {
        padding-left: 2px
    }

    #sorting span,
    #res {
        font-size: 14px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(max-width:575px) {
    .search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px
    }

    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px
    }

    .fa-search {
        padding: 10px;
        font-size: 18px
    }

    #sidebar {
        display: none
    }

    .filter {
        margin-left: 70%;
        margin-top: 2%
    }

    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }
}

/****  Mensajeria***/

#leftMessages{
    width: 50%;
    padding: 20px;
    float: left
}

#rightMessages{
    width: 50%;
    padding: 20px;
    float: right
}

/**** Prestamos ****/

#left-prestamo{
    width: 50%;
    padding: 20px;
    float: left
}

#center-prestamo{
    width: 50%;
    padding: 20px;
    float: center
}

#right-prestamo{
    width: 50%;
    padding: 20px;
    float: right
}

.container{
    padding-top: 2em;
}