<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Admin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>
        </div>
        
             <!-- left Messages -->
        <section id="leftMessages">

            <h4> Editar Base de Datos de libros</h4>
            <br> 

            <div class="container" >
                <section>
                    <div class="input-group mb-n2 border rounded-pill">
                        <input id="search-text" onkeyup="buscarLibro()" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0 search-advanced">
                        <div class="input-group-append border-0">
                        <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </section>
                <br>  <br>  
                <div class="row">
                    <div class="row special-list">              
                        <div th:each="book: ${books}" class="col-lg-3 col-md-6 special-grid best-seller" >
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div id="imgPortada" class="" > 
                                        <img th:src="${book.portada}" src="https://i.pinimg.com/564x/f9/d8/99/f9d899d2d0f9676e89ba4ab83d85bd45.jpg" /> 
                                    </div> 
                                    
                                    <form th:action="@{/admin/erase/__${book.id}__}" method="POST">
                                        <button id="eraseBook" type="submit">Borrar</button>
                                    </form>
                                </div>
                                <a th:href="@{/libro(id=${book.id})}" href="/libro" class="text-decoration-none link-dark">
                                    <div class="why-text">
                                        
                                        <h5 <h3 class="titulo-libro" th:text="${book.titulo}" >Nombre del libro</h5>
                                       
                                    </div>
                                </a>
                             </div>
                        </div>     
                    </div>
                </div>
            <br>
            <h4> Editar Base de Datos de Usuarios</h4>
            <br> 
            <section>
                <div class="input-group mb-n2 border rounded-pill">
                    <input id="search-textUser" onkeyup="buscarUsuario()" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0 search-advanced">
                    <div class="input-group-append border-0">
                    <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </section>
            <br>  <br>  
                <div  class="row"  >

                    <div class="row special-list">
                        <div class="products-single fix">
                            <br>
                            <ul class="list-table" >
                                
                                <div  th:if="${session.u.id != u.id  }" th:each="u: ${usuarios}" class="col-md-3 col-sm-3 listaUser">
                                <div> 
                                    <a class="pull-left" href="javascript:;">
                                        <img  th:src="@{/user/{id}/pic(id=${u.id})}" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle iwthumb rounded-2">
                                    </a>
                                    <a th:text="${u.username}" 
                                        th:href="@{/user/__${u.id}__}"
                                        href="#" class="profile-link uUser">Ana</a>

                                        <form th:action="@{/admin/eraseUser/__${u.id}__}" method="POST">
                                            <button id="eraseUserID" type="submit">Borrar</button>
                                        </form>
                                    </div>
                                </div>
                                
                                  
                                
                            </ul>
                        </div>
                        
                        
                    </div>

                    
                </div>
               

            </div>

        </section>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        function buscarUsuario() {
            console.log("getting users...");
            var search = document.getElementById("search-textUser").value;
            var rows = document.getElementsByClassName("listaUser");

            for(let r of rows){
                let titulo = r.getElementsByClassName("uUser")[0].innerHTML;
                console.log(titulo);
                if (search === ""){
                    r.style.display = "block";
                }
                else if (titulo.toLowerCase().search(search.toLowerCase())==-1){
                    r.style.display = "none";
                }
                else{
                    r.style.display = "block";
                }
            }

           
        }

        function buscarLibro() {
            console.log("getting libros...");
            var search = document.getElementById("search-text").value;
            var rows = document.getElementsByClassName("best-seller");

            for(let r of rows){
                let titulo = r.getElementsByClassName("titulo-libro")[0].innerHTML;
                console.log(titulo);
                if (search === ""){
                    r.style.display = "block";
                }
                else if (titulo.toLowerCase().search(search.toLowerCase())==-1){
                    r.style.display = "none";
                }
                else{
                    r.style.display = "block";
                }
            }
        }
    </script>
</body>

</html>


<!--


    
                    <div class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys " >
                        <div class="widget panel"  style="width:700px; border:1px solid grey;">
                            <div class="panel-body" >

                                <ul class="list-table" >
                                    <li style="width:70px;">
                                        <img class="img-circle img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="65px" height="65px">
                                    </li>
                                    <li class="text-left">
                                        <h5 class="semibold ellipsis nm">Usuario 1 reporta Usuario 2</h5>
                                        <p class="nm">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod.</p>
                                        <small class="text-muted" >1 day ago</small>
                                    </li>

                                </ul>
                            </div>


                    </div>      
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys " >
                        <div class="widget panel"  style="width:700px; border:1px solid grey;">
                            <div class="panel-body" >

                                <ul class="list-table" >
                                    <li style="width:70px;">
                                        <img class="img-circle img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" width="65px" height="65px">
                                    </li>
                                    <li class="text-left">
                                      <h5 class="semibold ellipsis nm">Nuevo libro a agregrar: XXXX</h5>
                                        <p class="nm">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod.</p>
                                        <small class="text-muted">1 day ago</small>
                                    </li>

                                </ul>
                            </div>


                    </div>      
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-4 bootstrap snippets bootdeys " >
                        <div class="widget panel"  style="width:700px; border:1px solid grey;">
                            <div class="panel-body" >

                                <ul class="list-table" >
                                    <li style="width:70px;">
                                        <img class="img-circle img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" width="65px" height="65px">
                                    </li>
                                    <li class="text-left">
                                      <h5 class="semibold ellipsis nm">Error en el siguiente libro: XXXX</h5>
                                        <p class="nm">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod.</p>
                                        <small class="text-muted">1 day ago</small>
                                    </li>

                                </ul>
                            </div>


                    </div>      
                </div>


-->