<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    
    <title>Búsqueda</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <!--Columna filtros md(en pantallas pequeñas las dos columnas se convierten en filas)-->
            <div class="col-md-3">

                <!-- Sidebar filter section -->
                <section class="filters">        
                    <h1>Búsqueda</h1>
                    <br><br>
                
                    <div class="border-bottom pb-2 ml-2">
                        <h4>Filtros</h4>
                    </div>

                    <div class="d-flex flex-row">        
                        <div class="ml-auto mr-lg-4">
                            <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Tipo </span> <select name="sort" id="sort">
                                    <option value="titulo"><b>Titulo</b></option>
                                    <option value="isbn"><b>ISBN</b></option>
                                    <option value="autor"><b>Autor</b></option>
                                    <option value="usuario"><b>Usuarios</b></option>
                                </select> </div>
                        </div>
                    </div>
                    
                    <div class="py-2 border-bottom ml-3">
                        <div class="d-flex flex-row">        
                            <div class="ml-auto mr-lg-4">
                                <div id="type" class="border rounded p-1 m-1"> <span class="text-muted">Ordenar por </span> <select name="sort" id="sort">
                                        <option value="popularity"><b>Popularidad</b></option>
                                        <option value="prcie"><b>Fecha</b></option>
                                        <option value="rating"><b>Rating</b></option>
                                    </select> </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 border-bottom ml-3">
                        <h6 class="font-weight-bold">Autor</h6>
                        <div id="orange"><span class="fa fa-minus"></span></div>            
                        <div class="input-group mb-2 border rounded-pill">
                            <input type="search" placeholder="Buscar autor..." aria-describedby="button-addon3" class="form-control bg-none border-0">
                            <div class="input-group-append border-0">
                            <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <form>
                                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Autor1</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Autor2</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Autor3</label> </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <form>
                                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Autor4</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Autor5</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Autor6</label> </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="py-2 border-bottom ml-3">
                        <h6 class="font-weight-bold">Género</h6>
                        <div id="orange"><span class="fa fa-minus"></span></div>
                        <div class="row">
                            <div class="col-6">
                                <form>
                                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Género1</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Género2</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Género3</label> </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <form>
                                    <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Género4</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Género5</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Género6</label> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="py-2 border-bottom ml-3">
                        <h6 class="font-weight-bold">Fecha de publicación</h6>
                        <div id="orange"><span class="fa fa-minus"></span></div>
                        <form>
                            <div class="form-group"> <input type="checkbox" id="tea"> <label for="tea">2022</label> </div>
                            <div class="form-group"> <input type="checkbox" id="cookies"> <label for="cookies">2021</label> </div>
                            <div class="form-group"> <input type="checkbox" id="pastries"> <label for="pastries">2020</label> </div>
                        </form>
                    </div>
                
                </section>
                
            </div>

            <!--Columna resultados-->          
            <div class="col-md-9">
                <section>
                    <div class="input-group mb-n2 border rounded-pill">
                        <input id="search-text" onkeyup="buscar()" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0 search-advanced">
                        <div class="input-group-append border-0">
                        <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </section>

                <!-- RESULTADOS DE LA BÚSQUEDA  -->
                <div class="products-box" >

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h4>Resultados</h4>
                                </div>
                            </div>
                        </div>
                        

                        <div class="row special-list" id="results" >
                            <div th:each="book: ${books}" class="col-lg-3 col-md-6 special-grid best-seller" >
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img th:src="${book.imag}" src="https://i.pinimg.com/564x/f9/d8/99/f9d899d2d0f9676e89ba4ab83d85bd45.jpg" />

                                        <div class="mask-icon">
                                            <a class="cart" href="#">Agregar a mi biblioteca</a>
                                        </div>
                                    </div>
                                    <a th:href=@{/libro} href="/libro" class="text-decoration-none link-dark">
                                        <div class="why-text">
                                            
                                            <h5 class="booktitle" th:text="${book.titulo}" >Nombre del libro</h5>
                                            <h5 class="bookisbn" th:text="${book.ISBN}" hidden>isbn</h5>
                                            <h6 th:text="${book.autor}"> Por Autor</h6>
                                            <div class="product-rating mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star mr-0"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>     
                        </div>

                </div>
                
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    
    <script th:inline="javascript">
        function changeSearch() {
            //https://stackoverflow.com/questions/4842590/how-to-run-a-function-when-the-page-is-loaded
            var result_query = null, result_type, tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === "query") result_query = decodeURIComponent(tmp[1]);
                });
                document.getElementById("search-text").value = result_query;

                location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === "type") result_type = decodeURIComponent(tmp[1]);
                });
                
                var types = document.querySelector('#sorting option[value='+result_type+']');
                types.selected = "selected";
            buscar();
        }
        window.addEventListener('load', changeSearch);
        

        function buscar(){
            var e = document.getElementById("sort");
            
            var result_type = e[e.selectedIndex].value;
            if(result_type.localeCompare("titulo")==0){
                buscarLibro();
            }
            else if(result_type.localeCompare("isbn")==0){
                buscarISBN();
            }
        }

        function buscarLibro() {
            console.log("getting books...");
            var search = document.getElementById("search-text").value;
            var rows = document.getElementsByClassName("best-seller");

            for(let r of rows){
                let titulo = r.getElementsByClassName("booktitle")[0].innerHTML;
                console.log(titulo);
                if (search === ""){
                    r.style.display = "block";
                }
                else if (titulo.toLowerCase().search(search.toLowerCase())==-1){
                    r.style.display = "none";
                }
                else{
                    r.style.display = "block";
                }
            }
        }

        function buscarISBN(){
            console.log("getting ISBN...");
            var search = document.getElementById("search-text").value;
            var rows = document.getElementsByClassName("best-seller");

            for(let r of rows){
                let isbn = r.getElementsByClassName("bookisbn")[0].innerHTML;
                console.log(isbn);
                if (search === ""){
                    r.style.display = "block";
                }
                else if (isbn.toLowerCase().search(search.toLowerCase())!=0){
                    r.style.display = "none";
                }
                else{
                    r.style.display = "block";
                }
            }
        }
/*
            document.getElementById("results").innerHTML = '';

            var search = document.getElementById("search-text").value;
            
            console.log("Getting books ...");
            var books = /*[[${books}]]*/ /*'default';/*
            var filteredBooks = []
            for(book in books){
                if(books[book]['titulo'].toLowerCase().search(search.toLowerCase())!=-1){
                    filteredBooks.push(books[book]);
                }
            }
            console.log(filteredBooks);
            books = filteredBooks;
            
        }*/
    </script>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>