<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Achapter</title>
    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/index.css}" href="css/index.css" type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">
          
        <!-- Portada del index -->
        <div id="div_portada" class=" m-0 row"><!-- m-0: margin 0-->

            <div id="contenido-portada" class="container float-start"> <!--float-start: alinear a la izquierda-->

                <h1 id="welcome-title" class="display-4 font-weight-bold mb-4">Bienvenido a ACHAPTER</h1> <br> <br><br>
                
                <p id="welcome-subtitle" class="font-italic mb-0 lead mb-0">
                Esta es una aplicación que te permitirá mantener un control de los libros que te has leído, 
                quieres leer y los que estás leyendo actualmente. Además, ¡podrás conectarte con  
                una comunidad que tiene tus mismos intereses obteniendo ideas para tus próximas lecturas!
                </p>        
            </div>
        </div>
        
        <!-- Buscador del index -->
        <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12" th:if="${session.u}">
            <input id="search-box" type="text" class="form-control" placeholder="Busca un libro!...">
            <button id="search-portada" class="btn btn-primary" onclick="">Buscar</button>
        </div>

        <!-- Libros del buscador -->
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="js/index.js"></script>

        <div class="book-list">
            <div id="list-output" class="">
              <div class="row">
                <!-- card  -->
    
              </div>
            </div>
        </div>


        <!-- LIBROS MAS POPULARES -->

        <div class="products-box">
            <div class="container">
                <div class="row col-lg-12 title-all">
                    <h1>Libros más populares</h1>
                </div>

                <div class="row special-list">              
                    <div th:each="book , i: ${books}"  class="col-lg-3 col-md-6 special-grid best-seller" >
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="book-img"> 
                                    <img th:src="${book.portada}" src="https://i.pinimg.com/564x/f9/d8/99/f9d899d2d0f9676e89ba4ab83d85bd45.jpg" /> 
                                </div>
                                
                                <form class="mask-icon" th:action="@{/save}" method="POST">
                                    <input name="tipoLibreria" value="quieroLeer" hidden/>
                                    <input name="id" th:value="${book.id}" hidden/>
                                    <button id="addToLib" class="cart" type="submit">Agregar a mi biblioteca</button>
                                </form>
                            </div>
                            <a th:href="@{/libro(id=${book.id})}" href="/libro" class="text-decoration-none link-dark">
                                <div class="why-text">
                                    
                                    <h3 class="titulo-libro" th:text="${book.titulo}" >Nombre del libro</h3>
                                    <h5 th:text="${book.autor}" > Por Autor</h5>
                                    <div class="product-rating mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star mr-0"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
        <!-- End mas populares  -->
        
        <!-- Géneros más buscados  -->
        <div class="products-box">
            <div class="container">
                <div class="row col-lg-12 title-all">
                    <h1>Géneros Más Buscados</h1>
                </div>
                
                <div class="row special-list">

                    <div th:each="genero: ${generos}" class="col-lg-4 col-md-6 ">
                        <div class="products-single fix">
                            <a th:href="@{/buscar?genero=__${genero}__}" th:text="${genero}" class="btn btn-genre"> Género 1</a>
                        </div>
                    </div>

                 </div>
                
            </div>
        </div>
        <!-- End géneros -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
 
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>

<!-- EJEMPLO DE FORMULARIO - EN ROOT CONTROLLERS SE RECOGE CON REQUEST PARAM
	<form id = "bookForm" th:action="addBook" method="post">
	<table>
		<tr>
		<td><input id="autor" name="autor" placeholder="autor">
		<td><input id="isbn" name="isbn" placeholder="isbn">
        <td><input id="titulo" name="titulo" placeholder="titulo">
		<td><button id="postBook" type="submit">Send</button>
		</tr>
	</table>
    <button type="submit">enviar</button>	</form>

-->