<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Achapter</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">
        
        <!-- Bootstrap Static Header -->
        <div style="background: url(/img/headerBook.png)" class=" m-0 row justify-content-center align-items-center jumbotron bg-cover text-white">
            <div class="container py-5 text-center">   
                <form class="form-inline search-form">
                    <!---
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    -->
                </form>
            </div>
        </div>
        
        <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
            <input id="search-box" type="text" class="form-control" placeholder="Search Books!...">
            <button id="search" class="btn btn-primary" onclick="">Search</button>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="js/index.js"></script>

        <div class="book-list" >
            <div id="list-output" class="">
              <div class="row">
                <!-- card  -->
    
              </div>
            </div>
        </div>


	<form id = "bookForm" th:action="addBook" method="post">
	<table>
		<tr>
		<td><input id="autor" name="autor" placeholder="autor">
		<td><input id="isbn" name="isbn" placeholder="isbn">
        <td><input id="titulo" name="titulo" placeholder="titulo">
		<td><button id="postBook" type="submit">Send</button>
		</tr>
	</table>
    <button type="submit">enviar</button>	</form>


        <!-- LIBROS MAS POPULARES -->

        <div class="products-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all ">
                            <h1>Más Populares</h1>
                        </div>
                    </div>
                </div>

                <div class="row special-list">              
                    <div th:each="book: ${books}" class="col-lg-3 col-md-6 special-grid best-seller" >
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div id="imgPortada" class="" ></div>
                                <img th:src="${book.imag}" src="https://i.pinimg.com/564x/f9/d8/99/f9d899d2d0f9676e89ba4ab83d85bd45.jpg" />
                                <form class="mask-icon" th:action="@{/save/quieroLeer/__${book.id}__}" method="POST">
                                    <button id="addToLib" class="cart" type="submit">Agregar a mi biblioteca</button>
                                </form>
                            </div>
                            <a th:href="@{/libro}" href="/libro" class="text-decoration-none link-dark">
                                <div class="why-text">
                                    
                                    <h3 th:text="${book.titulo}" >Nombre del libro</h3>
                                    <h5 th:text="${book.autor}" > Por Autor</h5>
                                    <div class="product-rating mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star mr-0"></i>
                                    </div>
                                </div>
                            </a>
                         </div>
                    </div>     
                </div>
            </div>
        </div>
        <!-- End Mas populares  -->
        
        <!-- Géneros más buscados  -->
        <div class="products-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all ">
                            <h1>Géneros Más Buscados</h1>
                        </div>
                    </div>
                </div>
                
    
                <div class="row special-list">
                    <div  th:each="genero: ${generos}" class="col-lg-4 col-md-6 ">
                        <div class="products-single fix">
                            <button th:text="${genero}"  type="button" class="btn btn-genre"> Género 1</button>
                        </div>
                    </div>
    
                    
                </div>
            </div>
        </div>
        <!-- End Products  -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
 
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        let b = document.getElementById("postBook");
        b.onclick = (e) => {
            e.preventDefault();
           
 
        console.log(url, autor, titulo, isbn);

        //var request = new XMLHttpRequest();

        var url =  'addBook'
        var myForm = document.getElementById('bookForm');
        var fd = new FormData()
        fd.append("titulo",  document.querySelector("#titulo").value);
        fd.append("autor",  document.querySelector("#autor").value);
        fd.append("isbn",  document.querySelector("#isbn").value);

        console.log(url)
         //fd.append(url, autor, titulo, isbn);
            go(url, 'POST', fd, {})
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e))
            // hace falta recargar la pagina para q se vea
        }
    </script>
</body>

</html>