<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    
    <title>Posts</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0" >
        <div class="container">
            <div class="row">
                <!--Columna filtros md(en pantallas pequeñas las dos columnas se convierten en filas)-->
                <div class="col-md-3">

                    <!-- Sidebar filter section -->
                    <section class="filters">
                        <h1> Posts</h1>
                        <br> <br>
                        <div class="border-bottom pb-2 ml-2">
                            <h4 >Filtros</h4>
                        </div>
                        <div class="d-flex flex-row">

                            <div  id="sort3" class="ml-auto mr-lg-4">
                                <div id="sort2" class="border rounded p-1 m-1"> <span class="text-muted">Ordenar por </span> 
                                    <select  id="sort1" name="sort" >
                                        <option value="popularity"><b>Popularidad</b></option>
                                        <option value="Fecha Ascendente"><b>Fecha Ascendente</b></option>
                                        <option value="Fecha Descendente"><b>Fecha Descendente</b></option>
                                    </select> </div>
                            </div>
                        </div>
                        <div class="py-2 border-bottom ml-3">
                            <h6 class="font-weight-bold">Categories</h6>
                            <div><span class="fa fa-minus"></span></div>
                            <form>
                                <div  id="categories">
                                    <div class="form-group"> <input type="checkbox" id="Todos"> <label for="Todos">Todos</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="Seguidos"> <label for="Seguidos">Seguidos</label> </div>
                                    <div class="form-group"> <input type="checkbox" id="Propios"> <label for="Propios">Propios</label> </div>
                                </div>
                            </form>
                        </div>
                        <div class="py-2 border-bottom ml-3">
                            <h6 class="font-weight-bold">Fecha de publicación</h6>
                            <div id="fecha"><span class="fa fa-minus"></span></div>
                            <form>
                                <div id="filtros">
                                    <div  data-field="2022" class="form-group"> <input type="checkbox" id="2022"> <label for="2022">2022</label> </div>
                                    <div data-field="2021"  class="form-group"> <input type="checkbox" id="2021"> <label for="2021">2021</label> </div>
                                    <div data-field="2020"  class="form-group"> <input type="checkbox" id="2020"> <label for="2020">2020</label> </div>
                                    <div data-field="2019"  class="form-group"> <input type="checkbox" id="2019"> <label for="2019">2019</label> </div>
                                    <div data-field="2018"  class="form-group"> <input type="checkbox" id="2018"> <label for="2018">2018</label> </div>
                                    <div data-field="2017"  class="form-group"> <input type="checkbox" id="2017"> <label for="2017">2017</label> </div>
                                    <div data-field="2016"  class="form-group"> <input type="checkbox" id="2016"> <label for="2016">2016</label> </div>
                                </div>
                            </form>
                        </div>

                    </section>
                </div>

                <div class="col-md-9">
                    <section>
                        <div class="input-group mb-2 border rounded-pill">
                            <input type="search" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0">
                            <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </section>

                    
                        <div class="container" id="posts" >
                            <div class="row" th:each="post : ${posts}">
                                <div th:replace="fragments/post.html :: post(${post})"></div>
                           
                        </div>

                       
                    </div>
                </div>

            </div>

        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        function sortBy(containerSel, dataField, asc) {
            console.log("Sorting", containerSel, "by", dataField);
            const container = document.querySelector(containerSel);
             if(dataField.includes("Fecha")){
            const els = [ ... container.children].map(c => ({
                k:c.querySelector('.fecha').innerText, v: c }));
                container.innerHTML = ''; // remove current contents
            if (asc) { 
                els.sort((a,b) => (a.k == b.k) ? 0 : (a.k > b.k) ? 1 : -1 );
            } else {
                els.sort((a,b) => (a.k == b.k) ? 0 : (a.k > b.k) ? -1 : 1 ); 
            }
            els.forEach(o => container.append(o.v));
            }

        }

            function filterBy(containerSel, condition) {
            const container = document.querySelector(containerSel);
                [ ... container.children].forEach(o => {
                o.style.display = condition(o) ? 'block' : 'none';
            });
        }

        function filterCondition2(filters) {
            let fs = [ ... filters].map(f => ({
            active: f.checked, field: f.id}));

            let user = /*[[${session.u.username}]]*/ 'user';
            let seguidos =  /*[[${user.followed}]]*/ [];
            
            
            fs = fs.filter(f => f.active);
            if (fs.length === 0) {
                return () => true; // muestra todos los resultados
            } else {
                return (o) => {
                // true sólo si alguna categoria coincide
                    const values =  o.querySelector('.usuario').innerText; 
                    const commonElements = values.filter(function(e) {
                     return seguidos.indexOf(e) > -1;
                    });
                for (let f of fs) {
                    console.log(values, f.field);
                    if(f.field == "Propios" && values.indexOf(user) != -1 ) return true;
                    else if (f.field == "Todos") return true;
                    else if (f.field == "Seguidos" && commonElements.size()>0) return true;
                }
                return false;
                }
            }
        }

        function filterCondition(filters) {
            let fs = [ ... filters].map(f => ({
            active: f.checked, field: f.id}));
           
            fs = fs.filter(f => f.active);
            if (fs.length === 0) {
                return () => true; // muestra todos los resultados
            } else {
                return (o) => {
                // true sólo si alguna categoria coincide
                    const values =  o.querySelector('.fecha').innerText; 
                for (let f of fs) {
                    console.log(values, f.field);
                    if (values.indexOf(f.field) != -1) return true;
                }
                return false;
                }
            }
        }

        // enlazo ordenacion
        const ord = document.querySelector("#sort1");
        ord.addEventListener("change", () => sortBy(
            "#posts", ord.value, 
            ord.value.includes("Asc"))
        )
        // enlazo filtrado
        const filters = document.querySelectorAll("#filtros input");
        [... filters].forEach(f => f.addEventListener("change", () => filterBy(
            "#posts", filterCondition(filters))));

        const filters2 = document.querySelectorAll("#categories input");
        [... filters2].forEach(f => f.addEventListener("change", () => filterBy(
            "#posts", filterCondition2(filters2))));
        /*]]>*/
    </script>
</body>
</html>
