<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Préstamos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    

    <main class="flex-shrink-0">
        <!-- Bootstrap Static Header -->
        <div style="background: url(/img/headerBook.png)" class="jumbotron bg-cover text-white">
            <div class="container py-5 text-center">
                <form class="form-inline search-form">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- Filtros -->

        <!-- Prestamos disponibles en la plataforma -->

        <!-- Cuando tengamos estructurado el modelo tendremos que usar estructurad de este estilo para reducir código-->
        <!--<tr th:each="prod: ${prods}">
            <td th:text="${prod.name}">Onions</td>
            <td th:text="${prod.price}">2.41</td>
            <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>
        </tr> -->

        <div class="products-box">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                    One of three columns
                    </div>
                    <div class="col-6">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h1>Préstamos disponibles</h1>
                                </div>
                            </div>
                        </div>
        
                        <div class="row" id="user-margin">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h3>Nombre del usuario</h3>
                                </div>
                            </div>
                        </div>
        
                        <div class="row special-list">
                            <div class="products-single fix">
                                <div class="col-lg-3 col-md-5">
                                    <div class="card text-center" style="width: 18rem;">
                                        <img class="card-img-top card-img-prestamo" src="..." alt="Portada libro">
                                        <div class="card-body">
                                            <h5 class="card-title" id="text-margin">Título</h5>
                                            <h6 class="card-subtitle" id="text-margin"> Autor</h6>
                                            <a class="btn btn-success" href="#" role="button">Solicitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-single fix">
                                <div class="col-lg-3 col-md-6 special-grid">
                                    <div class="card text-center" style="width: 18rem;">
                                        <img class="card-img-top card-img-prestamo" src="..." alt="Portada libro">
                                        <div class="card-body">
                                            <h5 class="card-title" id="text-margin">Título</h5>
                                            <h6 class="card-subtitle" id="text-margin"> Autor</h6>
                                            <a class="btn btn-success" href="#" role="button">Solicitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-single fix">
                                <div class="col-lg-3 col-md-6 special-grid">
                                    <div class="card text-center" style="width: 18rem;">
                                        <img class="card-img-top card-img-prestamo" src="..." alt="Portada libro">
                                        <div class="card-body">
                                            <h5 class="card-title" id="text-margin">Título</h5>
                                            <h6 class="card-subtitle" id="text-margin"> Autor</h6>
                                            <a class="btn btn-success" href="#" role="button">Solicitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h1>Préstamos de seguidos</h1>
                                </div>
                            </div>
                        </div>
        
                        <div class="row" id="user-margin">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h3>Nombre del usuario</h3>
                                </div>
                            </div>
                        </div>
        
                        <div class="row special-list">
                            <div class="products-single fix">
                                <div class="col-lg-3 col-md-6 special-grid">
                                    <div class="card text-center" style="width: 18rem;">
                                        <img class="card-img-top card-img-prestamo" src="..." alt="Portada libro">
                                        <div class="card-body">
                                        <h5 class="card-title" id="text-margin">Título</h5>
                                        <h6 class="card-subtitle" id="text-margin"> Autor</h6>
                                        <a class="btn btn-success" href="#" role="button">Solicitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-single fix">
                                <div class="col-lg-3 col-md-6 special-grid">
                                    <div class="card text-center" style="width: 18rem;">
                                        <img class="card-img-top card-img-prestamo" src="..." alt="Portada libro">
                                        <div class="card-body">
                                        <h5 class="card-title" id="text-margin">Título</h5>
                                        <h6 class="card-subtitle" id="text-margin"> Autor</h6>
                                        <a class="btn btn-success" href="#" role="button">Solicitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>