<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Préstamos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    


    <main class="flex-shrink-0">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <section >
        
                        <h1> Prestamos</h1>
                        <br> <br>
                        
                    
                        <div class="border-bottom pb-2 ml-2">
                            <h4 >Filtros</h4>
                        </div>
                        <div class="d-flex flex-row">        
                            <div class="ml-auto mr-lg-4">
                                <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Tipo </span> <select name="sort" id="sort">
                                        <option value="libro"><b>Libros</b></option>
                                        <option value="usuario"><b>Usuarios</b></option>
                                    </select> </div>
                            </div>
                        </div>
                        
                        <div class="py-2 border-bottom ml-3">
                            <div class="d-flex flex-row">        
                                <div class="ml-auto mr-lg-4">
                                    <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Ordenar por </span> <select name="sort" id="sort">
                                            <option value="popularity"><b>Popularidad</b></option>
                                            <option value="prcie"><b>Fecha</b></option>
                                            <option value="rating"><b>Rating</b></option>
                                        </select> </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-2 border-bottom ml-3">
                            <h6 class="font-weight-bold">Autor</h6>
                            <div id="orange"><span class="fa fa-minus"></span></div>            
                            <div class="input-group mb-2 border rounded-pill">
                                <input type="search" placeholder="Buscar autor..." aria-describedby="button-addon3" class="form-control bg-none border-0">
                                <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <form>
                                        <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Autor1</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Autor2</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Autor3</label> </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <form>
                                        <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Autor4</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Autor5</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Autor6</label> </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="py-2 border-bottom ml-3">
                            <h6 class="font-weight-bold">Género</h6>
                            <div id="orange"><span class="fa fa-minus"></span></div>
                            <div class="row">
                                <div class="col-6">
                                    <form>
                                        <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Género1</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Género2</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Género3</label> </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <form>
                                        <div class="form-group"> <input type="checkbox" id="artisan"> <label for="artisan">Género4</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="breakfast"> <label for="breakfast">Género5</label> </div>
                                        <div class="form-group"> <input type="checkbox" id="healthy"> <label for="healthy">Género6</label> </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="py-2 border-bottom ml-3">
                            <h6 class="font-weight-bold">Fecha de publicación</h6>
                            <div id="orange"><span class="fa fa-minus"></span></div>
                            <form>
                                <div class="form-group"> <input type="checkbox" id="tea"> <label for="tea">2022</label> </div>
                                <div class="form-group"> <input type="checkbox" id="cookies"> <label for="cookies">2021</label> </div>
                                <div class="form-group"> <input type="checkbox" id="pastries"> <label for="pastries">2020</label> </div>
                            </form>
                        </div>
                    
                    </section>
                </div>   
                
                <div class="col-md-9">
                    <section>
                        <div class="input-group mb-n2 border rounded-pill">
                            <input id="search-text" onkeyup="buscarLibro()" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0 search-advanced">
                            <div class="input-group-append border-0">
                            <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </section>
                    <div class="products-box" >
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title-all ">
                                <h4>Prestamos disponibles</h4>
                            </div>       
                            <div class="row special-list">                              
                                <div th:each="prestamo: ${prestamosSinDestinatario}" class="col-lg-4 col-md-6 special-grid best-seller">
                                    <div class="products-single fix">
                                        <div class="box-img-hover">
                                            <img th:src="${prestamo.libro.portada}" class="img-fluid" alt="Image">
                                        </div>
                                        <div class="why-text">
                                            <h5 class="booktitle" th:text="${prestamo.libro.titulo}"> Título </h5>
                                            <h6 th:text="${prestamo.libro.autor}"> Autor</h6>
                                            <h6 th:text="${prestamo.owner.username}"> Propietario</h6>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="title-all ">
                                <h4>Prestamos de seguidos</h4>
                            </div>

                            <div class="row special-list"> 
                                <div class="col-lg-6 col-md-6 special-grid best-seller">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img src="https://i.pinimg.com/564x/1b/21/fc/1b21fc7abc856a93e3dbf65616714a2b.jpg" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="why-text">
                                        <h5 class="booktitle">Título</h5>
                                        <h6>Autor</h6>
                                        <h6>Propietario</h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 special-grid best-seller">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img src="https://i.pinimg.com/564x/1b/21/fc/1b21fc7abc856a93e3dbf65616714a2b.jpg" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="why-text">
                                        <h5 class="booktitle">Título</h5>
                                        <h6>Autor</h6>
                                        <h6>Propietario</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                

            </div>

        </div>  

        <!--<div class="container">
            <div class="row">
                <div class="col-2">
                

                </div>
                
                <div class="col-5">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all ">
                                <h1>Préstamos de seguidos</h1>
                            </div>
                        </div>
                    </div>
    
                    <div class="row" id="user-margin">
                        <div class="col-lg-12">
                            <div class="title-all ">
                                <h3>Nombre del usuario</h3>
                            </div>
                        </div>
                    </div>
    
                    <div class="row special-list"> 
                        <div class="col-lg-4 col-md-6 special-grid best-seller">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="https://i.pinimg.com/564x/1b/21/fc/1b21fc7abc856a93e3dbf65616714a2b.jpg" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text">
                                <h3>Título</h3>
                                <h5>Autor</h5>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 special-grid best-seller">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="https://i.pinimg.com/564x/1b/21/fc/1b21fc7abc856a93e3dbf65616714a2b.jpg" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text">
                                <h3>Título</h3>
                                <h5>Autor</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>