<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container p-2">
            <div class="d-flex align-items-center">
                <div>
                    <img class="rounded-circle m-3" th:src="@{/user/{id}/pic(id=${session.u.id})}">
                </div>
                <div class="mx-3 w-100">
                    <div class="mx-4">
                        <h1 class="mt-5">Perfil de <span th:text="${user.username}">Paco</span></h1>
                        <p>About me...</p>
                    </div>
                    <div class="d-flex">
                        <div class="flex-column btn btn-light mx-2 rounded-3">
                            <a class="nav-link" href="#" th:text="${user.username + ' seguidores'}">0 seguidores</a>
                        </div>
                        <div class="flex-column btn btn-light mx-2 rounded-3">
                            <a class="nav-link" href="#" th:text="${user.username + ' seguidos'}">0 seguidos</a>
                        </div>
                    </div>
                </div>
                <div class="button flex-row" th:if="${session.u.id != user.id}">
                    <button class="btn btn-outline-success">Follow</button>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Prestamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Objetivos y estadísticas</a>
                </li>
            </ul>
            <!-- para enviar mensajes; algo feo -->
            <div class="py-5 position-absolute bottom-0 row ">
                <form th:action="@{/user/__${user.id}__/msg}" method="POST">
                    <input type="text" id="message" placeholder="escribe a este usuario" />
                    <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        // envio de mensajes con AJAX
        let b = document.getElementById("sendmsg");
        b.onclick = (e) => {
            e.preventDefault();
            go(b.parentNode.action, 'POST', {
                    message: document.getElementById("message").value
                })
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e))
        }
    </script>
</body>

</html>