<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/profiles.css}" href="css/profiles.css" type="text/css" />
    <title>Usuarios</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">

    <div class="container">
        <div class="row">


               
            <!--Columna resultados-->          
             <div class="products-box">
                <section>
                    <div class="input-group mb-n2 border rounded-pill">
                        <input id="search-text" placeholder="Búsqueda avanzada" aria-describedby="button-addon3" class="form-control bg-none border-0 search-advanced">
                        <div class="input-group-append border-0">
                        <button onclick="buscarUsuario()" id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </section>

                <!-- RESULTADOS DE LA BÚSQUEDA  -->
                <div class="products-box" >

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-all ">
                                    <h4>Resultados</h4>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm  " >
                            <div  class="col mb-3 list-usuarios"  th:each="u: ${usuariosf}">
                                <div class="card">
                                    <img th:src="@{/img/bannerUser.png}" src="/img/bannerUser.png"  alt="Cover" class="card-img-top">
                                    <div class="card-body text-center">
                                        <a th:href="@{/user/__${u.id}__}" href="/user"  >
                                            <img 
                                            th:src="@{/user/{id}/pic(id=${u.id})}" src="https://bootdey.com/img/Content/avatar/avatar7.png" 
                                            style="width:100px; height:100px;margin-top:-200px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                        </a>
                                        <div style="margin-top:-40px" >
                                            <h5 th:text="${u.username}" class="card-title"   >John Doe</h5>
                                            <p th:text="|${u.firstName} ${u.lastName}|"  class="text-secondary mb-1"> Ana Perez</p>
                                            <p th:text="${u.about}"  class="text-muted font-size-sm"> Hola</p>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div th:if="${#lists.size(following)!=0 }">
                                            <button th:if="${session.u.id != u.id and not #lists.contains(following, u) }" id="addF" class="btn btn-light btn-sm bg-white has-icon btn-block" type="button">Follow</button>
                                            <p th:if="${session.u.id != u.id and #lists.contains(following, u) }" class="btn btn-light btn-sm bg-white has-icon btn-block" style="margin-left:100px; color: #5cca60; ">Followed</p>
                                            
                                        </div>
                                        <div th:if="${#lists.size(following)==0}">
                                            <button th:if="${session.u.id != u.id  }" id="addF" class="btn btn-light btn-sm bg-white has-icon btn-block" type="button">Follow</button>
                                               </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    

                </div>
                
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"   integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    
    <script th:inline="javascript">
        
        


        function buscarUsuario() {
            console.log("getting users...");
            var search = document.getElementById("search-text").value;
            var rows = document.getElementsByClassName("list-usuarios");

            for(let r of rows){
                let username = r.getElementsByClassName("card-title")[0].innerHTML;
                let name = r.getElementsByClassName("text-secondary")[0].innerHTML;
                console.log(search + name);
                if (search === ""){
                    r.style.display = "block";
                }
                else if(username.toLowerCase().search(search.toLowerCase())!=-1)
                    r.style.display = "block";
                else if(name.toLowerCase().search(search.toLowerCase())!=-1)
                    r.style.display = "block";
                else{
                    r.style.display = "none";
                }
               
            }
        }

        const lb = Array.from(document.getElementsByClassName("addF"));
        lb.forEach(b => {
            b.addEventListener('click', (e) => {
                e.preventDefault();
                let request = {usernameFollowed: "", usernameFollowing: ""};
                var card = b.parentNode.parentNode.parentNode;
                request.usernameFollowed  =card.getElementsByClassName("card-title")[0].innerHTML;
                request.usernameFollowing  = /*[[${session.u.username}]]*/ 'defaultanyvalue';
                    
                go('addFollow', 'POST', request )
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e));
        
                if(b.innerHTML==="Follow"){
                
                /*
                const para = document.createElement("p");
                para.innerText = "Following";
                para.style="margin-left:100px; color: #5cca60; ";
                para.class= "btn btn-light btn-sm bg-white has-icon btn-block";
                b.parentNode.parentNode.appendChild(para);
                b.parentNode.removeChild(b);
                */
                     b.classList.remove(...b.classList);
                     b.classList.add("btn", "btn-light", "btn-sm", "bg-white", "has-icon", "btn-block", "addF");
                     b.innerText = "Followed";
                     b.removeAttribute('style');
                     
                     b.style["color"]="#5cca60";
                   

                }
                else
                {   b.removeAttribute('style');
                    b.classList.remove(...b.classList);
                     b.classList.add("btn", "btn-light", "btn-sm", "bg-white", "has-icon", "btn-block", "addF");
                     b.innerText = "Follow";
                     
                     
                    
                }
            });
        });

    </script>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>